<%- include partials/header.ejs %>

<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong><%= title %></strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="images/client-examle.png" alt="Client page">
                </div>
                <div class="col-md-6">
                    <p>Working on a range of websites, with varying functionality and industries.</p>
                    <p>Building websites that are SEO optimised, simple content and mobile responsive.</p>
                    <p>When starting a with a new client, we like to iron out the details and give them an understanding of what they are signing up for.</p>
                </div>
                </div>
    </div>
            <div class="row">
                <div class="box">
                <div class="col-md-6">
                    <p>While building your website we always take pride that the article we have built matches the design.</p>
                    <p>Pixel For Pixel.</p>
                    <p>As well as using the most up to date technologys and always maintaining industry standard.</p>
                </div>
               
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="images/searchanalytics.png" alt="Code examples">
                </div>
                <div class="clearfix"></div>
            </div>
    </div>
    </div>
       

    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Smith Designs 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
